# Maven
target/

# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Tomcat
logs/
temp/
work/